<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html"/>
    <title>Document</title>
</head>
<body>
<div style="max-width: 500px">
    <div style="display:flex; align-items:center; border-bottom:solid 1px gray; margin-bottom:15px;">
        <img src="https://cdn.discordapp.com/attachments/1019770637859958864/1026675291038429296/Mocco.jpeg" style="width:100px"/>
        <h2 style="color:#999999; font-size:20px">회원정보</h2>
    </div>
    <img src="https://cdn.discordapp.com/attachments/1023578549283721308/1029004253135642654/1.png" style="width:50px; height:50px"/>
    <span>안녕하세요, <span th:text="${nickname}"></span> 고객님,</span>
    <p style="font-size:30px">
        요청하신 <span style="color: #0f6ad4">임시 비밀번호</span>가
        발급되었습니다.
    </p>
    <div style="background-color:#f0f8ff; padding-top:30px; padding-bottom:30px; border-bottom:solid 1px gray; border-top:solid 1px gray;">
        <div style="margin-left: 30px">
            <div>
                <span style="color: #999999; margin-right: 15px">임시 비밀번호</span>
                <span th:text="${newPassword}"></span>
            </div>
            <p>
                <span style="color: #999999; margin-right: 15px">주의사항</span>로그인
                후
                <span style="color: #0f6ad4">새로운 비밀번호로 변경</span>
                하여 이용하시기 바랍니다.
            </p>
        </div>
        <a href="https://mocco.kr/" style="text-decoration:none; display:block; width:200px; height:30px; background-color:#0f6ad4; border:1px solid #0b6ff2; color:#ffffff; border-radius:10px; text-align:center; line-height:30px; margin:0 auto;">홈페이지 바로가기</a>
    </div>

    <div style="color:#999999; font-size:13px">
        <p>
            본 메일은 발신전용이기 때문에 회신되지 않습니다. 궁금하신 점은
            고객센터로 문의 해 주세요.
        </p>
        <p>Copyright (c) 2022.Mocco.All rights reserved.</p>
    </div>
</div>
</body>
</html>